body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
}

#navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.80);
}

#navbar a {
  text-decoration: none;
  display: block;
  padding: 1em;
  font-size: 1.3em;
  font-weight: bold;
  color: white;
}

#navbar a:hover {
  background: #FF00B0;
}

.avatar {
  width: 16rem;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100vh;
}

#projects {
  text-align: center;
  padding: 3rem 0;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-container div {
  margin: 10px;
  padding: 10px;
  width: 415px;
  height: 335px;
}

.project-container a {
  text-decoration: none;
}

#profile {
  text-align: center;
  padding: 3rem 0;
}

#profile img {
  border-radius: 50%;
}

@media all and (max-width: 800px) {
  #navbar {
    font-size: .8em;
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.80);
  }
}